<html lang="en">
<head><title>InteReview</title></head>
<body>
<html lang="en">
<head><title>InteReview</title></head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  <tbody>
  <tr>
    <td align="center" valign="top">
      <table width="100%" style="max-width:600px" cellpadding="0" cellspacing="0" border="0"
             class="m_4396311247567319588wrapper" bgcolor="#FFFFFF">
        <tbody>
        <tr>
          <td height="10" style="font-size:10px;line-height:10px">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <table width="100%" style="max-width:600px" cellpadding="0" cellspacing="0" border="0"
                   class="m_4396311247567319588container">
              <tbody>
              <tr>
                <td valign="top" style="color:#1b1c1d">
                  <h1 style="color:#1b1c1d">아이디 찾기</h1>
                  이메일 인증번호 <b>{{ code }}</b> 를 인터리뷰 서비스에 입력해 주세요. 감사합니다.
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px;line-height:10px">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
